/* common settings */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html, body {
   width: 100%;
   height: 100%;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
}
#app {
   max-width: 960px;
   min-height: 100%;
   margin: 0 auto;
   position: relative;
}
.container {
   padding: 1rem;
}

/* header */
#logo {
   display: block;
   max-width: 75%;
   min-width: 400px;
   margin: 0 auto;
}

/* main */
.inputs {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
input {
   width: 40%;
}
input:focus {
   outline: none;
}
button {
   cursor: pointer;
}
input, button {
   font-size: .75rem;
   padding: .5em 1em;
   border-radius: .5em;
}
ul {
   max-width: 600px;
   margin: 1rem auto 0;
   padding: 1rem;
   background: #f5f7f7;
   border-radius: .25rem;
}
ul li {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .75em;
}
ul li:not(:first-child) {
   border-top: 1px solid #bbb;
}
ul li i.fas {
   cursor: pointer;
}

/* footer */
footer {
   width: 100%;
   max-width: 960px;
   position: fixed;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}
.footer-relative {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: .5rem;
}
.deleted {
   background-color: #666;
   width: 75%;
   padding: .5em 1em;
   border-radius: .25em;
   border: 3px solid #333;
   text-align: center;
   animation: desolve 2.75s forwards;
}
@keyframes desolve {
   0% { opacity: 1; }
   75% { opacity: 1; }
   100% { opacity: 0; }
}